# example: /home/user/.config/google-chrome/'Profile 1'
CHROME_PROFILE = "<Path to google chrome user profile>"
LINKEDIN_USER = "<User>"
LINKEDIN_PASSWORD = "<Secret>"
# seconds
DISCONNECT_TIMEOUT = 10 
# X times
DISCONNECT_MAX_RETRIES = 5
# Next timeout = previous timeout + previous timeout * multiplier
DISCONNECT_MULTIPLIER = 0.5
MY_SKILLS = ["Add","a","List","of","Your","Skills","Here"]
# Database name to save the data (Obviously)
DB_NAME = "jobs.sqlite"
SCRAP_STATE_FILE = "scrap_state.json"
# The following are folders containint system generated data
LOG_FOLDER = "log"
BACKUP_FOLDER = "backup"
OUTPUT_FOLDER = "results"
SCREENSHOT_FOLDER = "screenshots"
# Maximum time the scrapper can restart as a result of a webdriver error
MAX_SCRAPPER_PERSISTENCE = 5